.plush-input
  margin: 0
  height: 26px
  padding: 4px
  
  input, .plush-placeholder
    padding: 2px 5px
    margin: 0
    outline: none
    line-height: 22px
    height: 22px

  input
    display: none
    background-color: transparent

  .plush-placeholder
    cursor: pointer

