.plush-input
  border: 1px solid $lightGray
  background-color: white
  +border-radius($borderRadius)
  
  &.loading
    background-image: image_url('plush/stripe.png')
    background-position: 0px center
    +animate(stripe-loading 1s infinite linear)

  &.opened
    border-bottom-width: 0
    +border-bottom-radius(0)

  input     
    border: 0