.plush-input
  border: 1px solid $lightGray
  background-color: white
  +border-radius($borderRadius)
  
  &.loading
    background-position: 0px center
    +animate(stripe-loading 1s infinite linear)

  &.opened
    border-bottom-width: 0
    +border-bottom-radius(0)

  input     
    border: 0

.plush-container.position-top .plush-input.opened
  border-bottom-width: 1px
  border-top-color: transparent
  border-bottom-color: $lightGray
  +border-top-radius(0)
  +border-bottom-radius($borderRadius)
