
.plush-option-list
  padding: 0px
  width: 100%
  max-height: 8 * 34px
  overflow-y: scroll
  border: 1px solid $lightGray
  +box-sizing(border-box)
  +border-bottom-radius($borderRadius)

  li a, .plush-optgroup-label, .plush-no-results
    padding: 3px 5px
    line-height: 2em

  li
    line-height: 2em
    &.plush-list-item
      &:nth-child(even)
        background-color: $listAlternate
    
      &:hover
        background-color: $listHover
        a, .title
          color: white
        .description
          color: $lighterGray

    a, .title
      text-decoration: none
      color: $darkerGray
      display: block

    .description
      font-size: 12px
      color: $gray
      margin: 0
      display: block

  &.no-scroll
    overflow: visible

  .plush-optgroup-label
    text-transform: uppercase
    font-weight: bold
    text-shadow: 1px 1px $lightGray
    border-style: solid 
    border-color: $lighterGray
    border-width: 1px 0

.plush-container.position-top .plush-option-list
  +border-bottom-radius(0)
  +border-top-radius($borderRadius)
