.plush-container.plush-multiple
  .plush-input-wrapper
    .plush-multi-select-item
      padding: $plushTopMargin $plushLeftMargin
      background-color: $blue
      border-color: $ligthBlue
      color: white
      text-shadow: 0 1px 1px rgba(black, 0.25)
      +border-radius(5px)

  .plush-remove
    width: 15px
    height: 15px
    display: inline-block
    vertical-align: text-top
    cursor: pointer
    background-image: url('plush/cross-white.png')
    background-position: bottom center
    background-repeat: no-repeat
    margin-top: -1px

  .plush-drag-placeholder
    background-color: $blue
    border-color: $ligthBlue
    opacity: 0.4
    float: left
    margin: $plushTopMargin
    padding: ($plushTopMargin + 1px) $plushLeftMargin
    +border-radius(5px)