!!! 5
%html
  %head
    %title Plush
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: :all
    = javascript_include_tag 'application'
    
  %body
    .page-container
      = yield