// Primary colors
$black:       black   !default
$darkerGray:  #333    !default
$darkGray:    #666    !default
$gray:        #999    !default
$lightGray:   #ccc    !default
$lighterGray: #eee    !default
$white:       white   !default
$blue:        #0099FF !default

// Semantic Colors
$listAlternate: whitesmoke  !default
$listHover: $blue           !default
$listCaret: $gray           !default

$borderRadius: 4px !default
