html, body
  padding: 0
  margin: 0
  background-color: $darkerGray

*
  font-family: Helvetica Neue, Arial, sans-serif
  font-size: 14px  

.page-container
  margin: 30px auto
  border: 1px solid $darkerGray
  width: 900px
  background-color: white
  padding: 20px
  min-height: 600px
  +box-shadow(0 0 75px rgba(white, 0.3))
  +clearfix

  h1, h2, h3, h4, h5
    margin: 0.8em 0

  h1
    margin-top: 0
    font-size: 3em
    line-height: 1.6em
    border-bottom: 1px dashed $gray
  h2
    font-size: 2.4em


.columns
  +clearfix

  .column
    width: 48%
    float: left

    &:nth-child(even)
      float: right

pre
  margin: 40px 0 0 0
  border: 1px solid $lightGray
  background-color: $lighterGray
  padding: 10px
  max-width: 100%
  text-shadow: 1px 1px 3px white
  font-family: Monaco, Consolas, "Lucida Console", Courier, monospace
  min-height: 1.3em
  font-size: 13px
  +border-radius(5px)